@font-face {
    font-family: "Iowan";
    src: url("fonts/bitstream-iowan-old-style-bt-586c36a8d7712.ttf");
}

h4 {
    font-family: "Iowan";
}

@font-face {
    font-family: "Old Standard TT";
    src: url("fonts/OldStandardTT-Regular.ttf");
}

p {
    font-family: "Old";
}

@font-face {
    font-family: "Old";
    src: url("fonts/OldStandardTT-Regular.ttf");
}
p {
    font-family: "Old";
}